language: c
sudo: false

cache:
  directories:
  - $HOME/.ghc
  - $HOME/.cabal
  - $HOME/.stack

before_install:
  - mkdir -p ~/.local/bin
  - mkdir -p ~/tmp
  - export PATH=~/.local/bin:$PATH
  - curl -L https://github.com/commercialhaskell/stack/releases/download/v1.0.4/stack-1.0.4-linux-x86_64.tar.gz | tar xz -C ~/tmp
  - mv ~/tmp/stack-1.0.4-linux-x86_64/stack ~/.local/bin/
  - curl -L http://download.redis.io/releases/redis-3.0.7.tar.gz | tar xz -C ~/tmp
  - cd ~/tmp/redis-3.0.7 && make
  - ~/tmp/src/redis-server &

matrix:
  include:
    - env: GHCVER=7.8.4 STACK_YAML=stack-7.8.yaml
      addons: {apt: {packages: [ghc-7.8.4], sources: [hvr-ghc]}}
    - env: GHCVER=7.10.3 STACK_YAML=stack-7.10.yaml
      addons: {apt: {packages: [ghc-7.10.3],sources: [hvr-ghc]}}
    - env: GHCVER=head STACK_YAML=stack-head.yaml
      addons: {apt: {packages: [cabal-install-head,ghc-head],  sources: [hvr-ghc]}}

  allow_failures:
   - env: GHCVER=head STACK_YAML=stack-head

install:
  - stack --no-terminal --skip-ghc-check setup
  - stack --no-terminal --skip-ghc-check test --only-snapshot

script:
  - stack --no-terminal --skip-ghc-check test
